<nav class="navbar navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div class="flex left-box">
      <a class="navbar-brand" href="/">Artsy</a>
      <%= form_with url: artworks_path, method: :get, class: "input-group mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by artist, title, theme, year, etc",
          aria: { label: "Recipient's username", describedby: "button-addon2" } %>
        <%= button_tag type: 'submit', class: "button my-button", id: "button-addon2" do %>
            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <div class="flex">
      <%= link_to "Buy", artworks_path, {class: 'btn btn-sm btn-outline-dark'} %>
      <% if user_signed_in? %>
        <%= link_to "Sell", (user_artworks_path(current_user)), {class: 'btn btn-sm btn-outline-dark'}%>
      <% else %>
        <%= link_to "Sell", new_user_session_path, {class: 'btn btn-sm btn-outline-dark'}%>
      <% end %>
      <%= link_to "Log In", new_user_session_path, {class: 'btn btn-sm btn-outline-dark'} unless user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, {class: 'btn btn-sm btn-outline-dark'} unless user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, {method: :delete, class: 'btn btn-sm btn-outline-dark'} if user_signed_in? %>
    </div>
  </div>
</nav>
