<nav class="navbar navbar-lewagon sticky-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Artsy</a>
    <div class="flex">
      <%= link_to "Buy", artworks_path, {class: 'btn btn-sm btn-outline-dark'} %>
      <% if user_signed_in? %>
        <%= link_to "Sell", (user_artworks_path(current_user)), {class: 'btn btn-sm btn-outline-dark'}%>
      <% else %>
        <%= link_to "Sell", new_user_session_path, {class: 'btn btn-sm btn-outline-dark'}%>
      <% end %>
      <%= link_to "Log In", new_user_session_path, {class: 'btn btn-sm btn-outline-dark'} unless user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, {class: 'btn btn-sm btn-dark'} unless user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, {method: :delete, class: 'btn btn-sm btn-outline-dark'} if user_signed_in? %>
    </div>
  </div>
</nav>
