<%= render "devise/shared/navbar" %>

<div class="container">
  <h1><strong>Collect art and design online</strong></h1>

  <% if user_signed_in? && @artworks.all? { |artwork| artwork.owner_id == current_user.id } %>
    <h2 class="d-inline">My Artworks</h2>
      <%= link_to "Submit a new artwork", new_artwork_path, {class: 'd-inline btn btn-outline-dark'} %>
    <% elsif user_signed_in? %>
      <%= link_to "Offers I've made", offers_path, {class: 'btn btn-dark'} %>
  <% end %>
  <br><br>

  <div class="container-index-art">
    <% @artworks.last(6).each do |artwork|%>
    <div class="card-index" style="margin: 10px">
     <%= link_to artwork_path(artwork), :style=>'text-decoration: none;' do %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill  %>
        <%# <img class="card-img-top" src="artwork.photo" alt="Card image cap"> %>
        <div class="card-body-index">
          <div class="title">
            <p class="p-index">Artist: <%= artwork.artist_name %></p>
            <i class="fa-regular fa-heart"></i>
          </div>
          <p class="title-index-card"><%= artwork.title %></p>
          <p class="price-index-card"><strong>$<%= artwork.price %></strong></p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
<%= render "devise/shared/footer" %>
