<h1>Create a new <strong>Artwork</strong>!</h1>

<%# <%= cl_image_tag("trees-ge1345f2e9_1280_rb6hnl", :transformation=>[
  {:width=>350, :crop=>"scale"},
  {:fetch_format=>:auto}
  ])
 %> %>

<%= simple_form_for(@artwork) do |f| %>
  <%= f.input :artist_name %>
  <%= f.input :title %>
  <%= f.input :theme %>
  <%= f.input :year %>
  <%= f.input :price %>
  <%= f.input :details %>
   <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
