<%= render "devise/shared/navbar" %>

<div class="container card-product">
  <%= cl_image_tag @artwork.photo.key  %>
  <div class="card-product-infos">
    <div>
      <span> <%= @artwork.title %></h2> </span>
    </div>
    <h1> <%= @artwork.artist_name %></h1><br>
    <div>
      <p><strong><%= @artwork.theme %></strong></p>
      <p>ScreeprScreenprint in colours on 425gm Saunders Waterford paper<br>
        17 × 12 4/5 in | 43.2 × 32.5 cm<br>
        Edition of 250 </p>
    </div>
    <div id="price"> $ <%= @artwork.price %></p></div>

    <% if user_signed_in? && @artwork.owner_id == current_user.id %>
      <%= link_to "Offers", artwork_offers_path(@artwork), {class: 'd-inline btn btn-outline-dark'} %>
    <% elsif user_signed_in? %>
      <%= link_to "Make Offer", new_artwork_offer_path(@artwork), {class: 'd-inline btn btn-outline-dark'} %>
    <% else %>
      <%= link_to "Make Offer", new_user_session_path, {class: 'd-inline btn btn-outline-dark'} %>
    <% end %>

    <div class="accordion" id="accordionExample" style="margin-top: 20px;">
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Shipping and Taxes </button>
        </h3>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color: rgb(112, 112, 112);">
            Taxes may apply at checkout. Learn more <br>
            Ships from Riehen, CH <br>
            Shipping: Calculated in checkout <br>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Be covered by the Artsy Guarantee
          </button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="color: rgb(112, 112, 112);">
            Secure Payment <br>
            Money-Back Guarantee <br>
            Authenticity Guarantee <br>
        </div>
      </div>
    </div>

</div>

  </div>
</div>
<%= render "devise/shared/footer" %>
