<%= render "devise/shared/navbar" %>

<div class="container card-product">
  <img src="https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F2mmtopy-L2jLMHIWVJbSmQ%2Fnormalized.jpg&width=2400&quality=80%E2%80%9D" alt="">
  <div class="card-product-infos">
    <div>
      <span> <%= @artwork.title %></h2> </span>
    </div>
    <h1> <%= @artwork.artist_name %></h1><br>
    <div id="price"> $10,000 </p>
    </div>
    <button class="btn">Make an Offer</button>
  </div>
</div>

<div class="container delete">
  <%= link_to "Delete",
  artwork_path(@artwork),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
<% if user_signed_in? %>
  <%= link_to "Make Offer", new_artwork_offer_path(@artwork) %>
<% else %>
  <%= link_to "Make Offer", new_user_session_path %>
<% end %>
