<%= render "devise/shared/navbar" %>
<%= render "devise/shared/carousel2" %>

<br>

<div class="container">
  <h3 style="font-family: font-family: ll-unica77, 'Helvetica Neue', Helvetica, Arial, sans-serif;">Latest Artworks</h3>
  <div class="container-index-art">
    <% @artworks.last(3).each do |artwork|%>
    <div class="card-index" style="margin: 30px">
     <%= link_to artwork_path(artwork), :style=>'text-decoration: none;' do %>
     <%= cl_image_tag artwork.photo.key, height: 400, width: 200, crop: :fill, class: "card-img-top" %>
        <div class="card-body-index">
          <div class="title">
            <p class="p-index">Artist: <%= artwork.artist_name %></p>
            <i class="fa-regular fa-heart"></i>
          </div>
          <p class="title-index-card"><%= artwork.title %></p>
          <p class="price-index-card"><strong>$<%= artwork.price_delimit %></strong></p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>


</div>

<div class="border-top">
  <%= render "devise/shared/footer" %>
</div>
