<!DOCTYPE html>
<html>
  <head>
    <title>ARTSYClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
        <nav class="navbar navbar-lewagon sticky-top bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Artsy</a>
            <div class="flex">
              <%= link_to "Log In", new_user_session_path, {class: 'btn btn-sm btn-outline-dark'} unless user_signed_in? %>
              <%= link_to "Sign up", new_user_registration_path, {class: 'btn btn-sm btn-dark'} unless user_signed_in? %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete if user_signed_in? %>
            </div>

          </div>
        </nav>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
